body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://unsplash.com/photos/g2MossmxZNs/download?force=true&w=1920') bottom no-repeat;
    background-size: cover;
}

h1 {
    color: #FF8C00;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

#News1::before, #News2::before {
    font-style: oblique;
    content: "New! ";
    color: red;
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article:nth-child(even) {
    background: rgba(255, 165, 0, 0.2);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}


footer .link {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

footer .links > a:hover {
    color: orange;
}

.copyright {
    padding: 25px 25px;
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}
